<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>Gabble</title>
</head>
<body>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
